body,
html {
  margin: 0;
  overflow-x: hidden;
}

.alert {
  border-radius: 12px;
  display: block;
  position: fixed;
  width: 30%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid black;
  height: auto;
  justify-self: center;
  align-self: center;
  left: 35%;
  top: 0%;
  padding: 10px;
  background: #838383;
  transition: top 2s ease-in-out;
  color: #fff;
}
.alert::content {
  text-align: center;
}

.alert span {
  color: #000;
  font-size: 20px;
  font-weight: bolder;
}
.badge {
  width: 7.5px;
  height: 7.5px;
  background: red;
  border-radius: 50%;
  position: absolute;
  transform: translateX(150%);
  display: block;
}

@keyframes fade {
  from{
    opacity: 0;
  }
  to{
    opacity: 1;
  }
}

.fade{
  animation: fade 0.5s linear;
}

@keyframes slider {
  from{
    left: 0%;
  }
  to{
    left: -100%;
  }
}